<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Student</title>
</head>
<body>
    
    <h1>Registered Students</h1>

    <br><br>
    <div th:each="student:${students}">
        <span th:text="*{id}"></span> <br>
        <span th:text="*{name}"></span> <br>
        <span th:text="*{fathername}"></span> <br>
        <span th:text="*{semester}"></span> <br>
        <span th:text="*{department}"></span> <br>
        <span th:text="*{cgpa}"></span> <br>
    </div>
    <br>
    <a th:href="@{enterStudent}">Enter new Student?</a>
    <br>

</body>
</html>